/* global */
body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
main{
    margin-top: 10%;
}
input{
    border: 1px solid;
    border-radius: 1vw;
    width: 50%;
    margin-left: 11vw;
    margin-top: 2%;
}
p{
    width: 65vw;
    margin: 0 auto;
    font-size: 3vw;
    margin-top: 6%;
    text-align: center;
}
label{
    font-size: 3vw;
    margin-left: 6vw;
}
fieldset{
    width: 50vw;
    margin: 0 auto;
}
footer{
    margin-top: 15vw;
    height: 10vw;
}

/* class */


/* id */