/* dark mode */
@media (prefers-color-scheme: dark) {
    body{
        color: #bababb;
        background: #161b22;
    }
    input{
        color: #bababb;
        background-color: #545c68;
        border-color: #545c68 !important;
        text-align: center;
    }
    fieldset{
        border-color: #bababb;
    }
    a{
        color: #bababb;
    }
    a:visited{
        color: #bababb;
    }
    footer{
        background-color: black;
    }
}

/* global */
h1{
    margin: 0 auto;
    width: fit-content;
    font-size: 6vw;
}
p{
    width: 65vw;
    margin: 0 auto;
    font-size: 3vw;
    margin-top: 6%;
    text-align: center;
}
fieldset{
    border-radius: 10vw;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15vw;
    height: 10vw;
}
footer > a{
    text-decoration: none;
    font-size: 3vw;
    margin: auto 0;
}
input{
    font-size: 2vw;
}

/* class */


/* id */