/* global */
body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
main{
    margin-top: 10%;
}
input{
    border: 1px solid;
    border-radius: 1vw;
    width: 50%;
    margin-left: 11vw;
    margin-top: 2%;
}
label{
    font-size: 3vw;
    margin-left: 6vw;
}
fieldset{
    width: 50vw;
    margin: 0 auto;
}

/* class */


/* id */